div.container-fluid  
    div.row
        div.col-md-8
            h3 Login
            p(class="bg-danger" ng-show="message != null") {{message}}
            form(name="loginForm" ng-submit="submit(login, password, remember)" novalidate)
                div.form-group
                    label(for="login") Login:
                    input(type="login" class="form-control" name="login" id="login" ng-model="login" required)
                    p(class="text-danger" ng-show="loginForm.login.$error.required && loginForm.login.$touched") Login is required
                div.form-group
                    label(for="password") Password:
                    input(type="password" class="form-control" name="password" id="password" ng-model="password" required)
                    p(class="text-danger" ng-show="loginForm.password.$error.required && loginForm.password.$touched") Passowrd is required
                div.checkbox
                    label
                        input(type="checkbox" name="remember" ng-model="remember") 
                        label(for="remember" id="remember") Remember me
                button(type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid") Submit
            
