doctype html
html
  head
    title= title
    meta(charset="utf-8") 
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/test.css')
    link(rel='stylesheet', href='/stylesheets/form.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    block css
  body(ng-app="adminPanelApp")
    div(class="container-fluid" ng-controller="mainCtrl")
        div.row
            div.col-lg-12
                block header
        div.row
            div.col-md-3.hidden-xs.hidden-sm
                include menu
            div.col-md-9.col-sm-12
                block content
        div.row
            div.col-lg-12
                block footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js")
    script(src="/javascripts/test.js")
    script(src="/app/admin-panel-app.js")
    script(src="/app/main-ctrl.js")
    script(src="/app/users/users-module.js")
    script(src="/app/users/users-list-ctrl.js")
    script(src="/app/auth/auth-module.js")
    script(src="/app/auth/login-ctrl.js")
    block scripts
  
  